@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100%;
  color: black;
  font-weight: 400;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 24px;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

@layer components {
  .h1 {
    @apply
      mb-4
      text-4xl
      font-bold;
  }

  .button-primary {
    @apply
      block
      bg-blue-500
      hover:bg-blue-700
      text-white
      font-bold
      whitespace-nowrap
      rounded;
  }

  .button-danger {
    @apply
      block
      bg-red-500
      hover:bg-red-700
      text-white
      font-bold
      whitespace-nowrap
      rounded;
  }

  .button-sm {
    @apply
      px-4 py-1
      text-sm;
  }

  .button-md {
    @apply
      px-5 py-2
      text-base;
  }

  .text-field {
    @apply
      block
      w-full
      px-4 py-2
      rounded-md
      border
      border-solid
      border-gray-300
      focus:border-indigo-500
      focus:ring-indigo-500
      sm:text-sm;
  }
}
