@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath fill='currentColor' d='M480-437.847 277.076-234.924q-8.307 8.308-20.884 8.5-12.576.193-21.268-8.5-8.693-8.692-8.693-21.076t8.693-21.076L437.847-480 234.924-682.924q-8.308-8.307-8.5-20.884-.193-12.576 8.5-21.268 8.692-8.693 21.076-8.693t21.076 8.693L480-522.153l202.924-202.923q8.307-8.308 20.884-8.5 12.576-.193 21.268 8.5 8.693 8.692 8.693 21.076t-8.693 21.076L522.153-480l202.923 202.924q8.308 8.307 8.5 20.884.193 12.576-8.5 21.268-8.692 8.693-21.076 8.693t-21.076-8.693L480-437.847Z'/%3E%3C/svg%3E");

  min-height: 100%;
  color: black;
  font-weight: 400;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 24px;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

@layer components {
  .h1 {
    @apply
      mb-4
      text-4xl
      font-bold;
  }

  .button-primary {
    @apply
      block
      bg-blue-500
      hover:bg-blue-700
      text-white
      font-bold
      whitespace-nowrap
      rounded;
  }

  .button-danger {
    @apply
      block
      bg-red-500
      hover:bg-red-700
      text-white
      font-bold
      whitespace-nowrap
      rounded;
  }

  .button-sm {
    @apply
      px-4 py-1
      text-sm;
  }

  .button-md {
    @apply
      px-5 py-2
      text-base;
  }

  .button-icon {
    @apply
      inline-flex
      items-center
      justify-center;
  }

  .text-field {
    @apply
      block
      w-full
      px-4 py-2
      rounded-md
      border
      border-solid
      border-gray-300
      focus:border-indigo-500
      focus:ring-indigo-500
      sm:text-sm;
  }
}
